pre {
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    -webkit-box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
}

pre code {
    background-color: transparent;
}
